# ----------------------------------------
# Node
# ----------------------------------------
PORT=3000
JWT_SECRET=

# DB 정보
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# ----------------------------------------
# [Internal Network] (Node - FastAPI 통신용)
# ----------------------------------------
INTERNAL_API_KEY=
FASTAPI_URL=http://fastapi:8000

# ----------------------------------------
# FastAPI
# ----------------------------------------
OPENAI_API_KEY=

# ----------------------------------------
# Frontend
# ----------------------------------------
# Vite에서 사용할 백엔드 API 주소 (도커 외부 접속용이므로 localhost 사용)
VITE_API_URL=http://localhost:3000